* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font-family, sans-serif;
  color: $black;
  background-color: $bg-main;
}

img {
  display: block;
}

:focus,
:focus-visible,
:focus-within {
  outline: none;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.section {
  margin: 0 auto 128px;
}
