.btn {
  cursor: pointer;
  padding: 12px 28px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  background-color: $accent;
  border: none;
  border-radius: 100px;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
    font-size: 18px;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    color: $accent;
    background-color: $bg-accent;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $white;
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      color: $accent;
      border-color: $accent;
      background-color: transparent;
    }
  }
}

.info__btn {
  cursor: pointer;
  padding: 6px 16px;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  background-color: $accent;
  line-height: 1.2;
  border: none;
  border-radius: 35px;

  &--second {
    color: $black;
    background-color: transparent;
    border: 1px solid $accent;
  }
}

.modal__btn {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  position: absolute;
  left: 273px;
  top: 14px;
  &--close-modal {
    @media screen and (min-width: 768px) {
      left: 471px;
      top: 10px;
    }
  }
  &--subs-modal {
    position: absolute;
    padding: 18px 28px;
    left: 162px;
    @media screen and (min-width: 768px) {
      position: static;
    }
  }
  &--subs-modal-close {
    @media screen and (min-width: 768px) {
      left: 471px;
      top: 10px;
    }
  }
  &--close-modal-review {
    @media screen and (min-width: 768px) {
      left: 465px;
      top: 24px;
    }
  }
  &--close-modal {
    @media screen and (min-width: 768px) {
      left: 557px;
      top: 18px;
    }
  }
}
