.btn {
  cursor: pointer;
  padding: 12px 28px;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  background-color: $accent;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    color: $accent;
    background-color: $bg-accent;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $white;
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      color: $accent;
      border-color: $accent;
      background-color: transparent;
    }
  }

  &--review {
    background-color: transparent;
    color: $black;
    border: 1px solid $accent;
    font-size: 14px;
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      color: $white;
      border: none;
      background-color: $accent;
    }

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.info__btn {
  cursor: pointer;
  padding: 6px 16px;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  background-color: $accent;
  line-height: 1.2;
  border: none;
  border-radius: 35px;

  &--second {
    color: $black;
    background-color: transparent;
    border: 1px solid $accent;
  }
}

.modal__btn {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  position: absolute;
  left: 273px;
  top: 14px;
  &--close-modal {
    @media screen and (min-width: 768px) {
      left: 471px;
      top: 10px;
    }
  }
  &--subs-modal {
    position: absolute;
    padding: 17px 28px;
    left: 162px;
    @media screen and (min-width: 768px) {
      position: static;
    }
  }
  &--subs-modal-close {
    @media screen and (min-width: 768px) {
      left: 471px;
      top: 10px;
    }
  }
  &--close-modal-review {
    @media screen and (min-width: 768px) {
      left: 465px;
      top: 24px;
    }
  }
  &--close-modal {
    @media screen and (min-width: 768px) {
      left: 557px;
      top: 18px;
    }
  }
}

.scroll {
  &-btn {
    cursor: pointer;
    color: $white;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.03em;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      color: $accent;
      .scroll-icon {
        background-color: $accent;
        fill: $white;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    background-color: $white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    fill: $accent;

    @media screen and (min-width: 768px) {
      width: 38px;
      height: 38px;
    }
  }

  &-svg {
    width: 16px;
    height: 16px;

    @media screen and (min-width: 768px) {
      width: 22px;
      height: 22px;
    }
  }
}

.slide {
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 13px;
  }

  &__bubble {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 6.5px;
    background-color: $black-o10;

    &--active {
      width: 28px;
      background-color: $accent;
    }
  }
}
