.footer {
  background-color: #1e1823;
  color: #ffffff;
  height: 290px;
}

.footer__text {
  font-size: 28px;
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 110px;
}

.first__letter {
  color: #fd9222;
}

.chocolate__phrase {
  margin-left: 5px;
  text-align: left;
  width: 300px;
  transform: translateY(95%);
}

.contact__space {
  margin-bottom: 10px;
  margin-right: 210px;
}

.link__first {
  text-decoration: none;
  color: #ffffff;
  margin-right: 147px;
}

.link__second {
  text-decoration: none;
  color: #ffffff;
  margin-right: 100px;
}

.link__block {
  transform: translateY(80%);
}

.link__first:hover {
  color: #fd9222;
}

.link__second:hover {
  color: #fd9222;
}

.contact__dimention {
  text-align: right;
  transform: translateY(-155%);
}

.contact__space {
  margin-bottom: 30px;
  margin-right: 210px;
  transform: translateY(310%);
}

.contact__svg {
  display: flex;
  justify-content: right;
}

.first__part {
  text-align: right;
  transform: translateY(-150%);
}

.menu {
  text-align: left;
  transform: translateY(-480%);
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  display: inline;
  padding: 12px;
  cursor: pointer;
}

.menu__link:hover {
  color: #fd9222;
}

.svg__instagram {
  fill: #ffffff;
  cursor: pointer;
  display: inline;
}

.svg__instagram:hover {
  fill: #fd9222;
  filter: drop-shadow(0 0 5px #fd9222);
}

.svg__twitter {
  fill: #ffffff;
  cursor: pointer;
  display: inline;
  margin-left: 15px;
}

.svg__twitter:hover {
  fill: #fd9222;
  filter: drop-shadow(0 0 5px #fd9222);
}
