.footer {
  &__hero {
    background-color: #1e1823;
    color: #ffffff;
    height: 270px;

    @media screen and (max-width: 378px) {
      height: 440px;
    }
  }

  &__title {
    color: #ffffff;
    border-bottom: 1px solid #ffffff1a;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.56px;
    font-size: 28px;
    white-space: pre-line;
    text-align: left;

    @media screen and (max-width: 378px) {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.48px;
    }
  }

  &__phrase {
    margin-left: 32px;
    padding-top: 5px;
    padding-bottom: 20px;

    @media screen and (max-width: 378px) {
      margin-left: 20px;
      margin-bottom: 100px;
    }
  }

  &__word {
    color: #fd9222;
  }

  &__contact-space {
    margin-bottom: 30px;
    margin-right: 200px;
    margin-top: 70px;
    text-align: right;

    @media screen and (max-width: 378px) {
      font-size: 14px;
      justify-content: space-between;
    }
  }

  &__contact-dimention {
    text-align: right;
    margin-top: -190px;
  }

  &__contact-block {
    white-space: pre-line;
    display: block;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;

    @media screen and (max-width: 378px) {
      font-size: 14px;
    }
  }

  &__first-link {
    text-decoration: none;
    color: $white;
    margin-right: 140px;
    margin-top: 20px;

    @media screen and (max-width: 378px) {
      font-size: 14px;
    }
  }

  &__second-link {
    text-decoration: none;
    color: $white;
    margin-right: 90px;
  }

  &__first-link:hover {
    color: #fd9222;
  }

  &__second-link:hover {
    color: #fd9222;
  }

  &__menu {
    padding-left: 50px;
    text-align: left;
    margin-top: 60px;
  }

  &__menu-link {
    text-decoration: none;
    color: #ffffff;
    display: inline;
    padding: 12px;
    cursor: pointer;

    @media screen and (max-width: 378px) {
      display: block;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.28px;
      padding: 5px;
      padding-left: 0;
    }
  }

  &__menu-link:hover {
    color: #fd9222;
  }

  &__svg {
    display: flex;
    justify-content: right;
  }

  &__instagram {
    fill: #ffffff;
    cursor: pointer;
    display: inline;
    margin-top: -50px;
  }

  &__instagram:hover {
    fill: #fd9222;
  }

  &__twitter {
    fill: #ffffff;
    cursor: pointer;
    display: inline;
    margin-left: 15px;
    margin-top: -50px;
  }

  &__twitter:hover {
    fill: #fd9222;
  }
}
