.nav-bar__title {
  color: $black;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  align-items: center;
  text-decoration: none;
  gap: 4px;

  &--normal {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
}
.nav-bar__div {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 34px;
}
.nav-bar__menu {
  display: none;
}
.nav-bar__social {
  display: none;
}
.nav-bar {
  display: flex;
  justify-content: center;
}
.nav-bar__div1 {
  padding-right: 100px;
  @media screen and (min-width: 768px) {
    padding-right: 140px;
  }
}
.nav-bar__title {
  display: flex;
}
.mobile-networks__list {
  display: flex;
  justify-content: left;
  padding: 0px 0px 20px 20px;
  gap: 18px;
  position: absolute;
  bottom: 0;
  list-style: none;
}
.mobile-networks__links {
  fill: transparent;
  stroke: #ffffff;
  &:hover {
    stroke: $accent;
  }
}

.mobile-menu__item {
  .link {
    &:hover {
      color: $accent;
    }
  }
}
.mobile-menu__item .link {
  &:hover::after {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    content: '';
    width: 24px;
    height: 2px;
    background-color: $accent;
    top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .network__logo {
    width: 24px;
  }
  .nav-bar__menu {
    display: none;
  }
  .nav-bar__social {
    display: none;
  }
  .nav-bar {
    gap: 315px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bar {
    display: flex;
    justify-content: center;
  }
  .nav-bar__menu {
    display: flex;
    padding-right: 137px;
    gap: 24px;
  }
  .nav-bar__social {
    display: flex;
  }
  .nav-bar__social {
    display: flex;
    gap: 18px;
  }
  .menul__link {
    text-decoration: none;
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }
  .social__link {
    fill: $bg-main;
    stroke: $black;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 1200px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: $black;
  z-index: 999;
  transform: translateX(100vw);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 768px) {
    width: 290px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
  .menu-toggle {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      .menu-toggle-x {
        stroke: $accent;
        width: 40px;
        height: 40px;
      }
    }
  }
  .menu-toggle-x {
    stroke: $white;
  }
}
.menu-container.is-open {
  @media screen and (min-width: 768px) {
    transform: translateX(168%);
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 0px 36px 0px 40px;
  margin: 0;
  gap: 40px;
  list-style: none;
  margin-top: 136px;

  .link {
    position: absolute;
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.28px;
  }
}
