.bubble {
  width: 32px;
  height: 32px;
  border-bottom: 50px;
  border-radius: 50%;
  border-color: $white-o50;
  border: 1px solid;
}

.cocoa {
  fill: $accent;
  margin-left: 8px;
  transform: translateY(28%);
}

.dollar {
  fill: $accent;
  margin-left: 7px;
  transform: translateY(-34%);
}

.spoon {
  fill: $accent;
  margin-left: 8px;
  transform: translateY(-35%);
}
