/*Modal*/
.location-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: $white;
  width: 311px;
  border-radius: 8px;
  @media screen and (min-width: 768px) {
    width: 517px;
    border-radius: 15px;
  }
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-o10;
  opacity: 1;
  visibility: visible;
  transition: opacity $time-animation $cubic-bezier-animation;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__header {
  position: relative;
}
.svg-close-modal {
  width: 24px;
  height: 24px;
  fill: $black;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.btn--close-modal {
  position: absolute;
  left: 250px;
  @media screen and (min-width: 768px) {
    left: 430px;
  }
}

.modal__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    width: 294px;
  }
}
.modal__main {
  padding-left: 24px;
  padding-right: 32px;
  padding-top: 32px;
  &--subs {
    padding: 32px 24px;
  }
}
.main__title {
  color: $accent;
}

.review {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-bottom: 18px;
  width: 85%;
  border: 0;
  @media screen and (min-width: 768px) {
    width: 82%;
  }
}
.review-form {
  width: 263px;
  border: 1.5 $color-gray;
  &__input {
    padding: 14px 18px;
    border-radius: 8px;
  }
  &__svg {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: 768px) {
    &__input {
      width: 437px;
      padding: 22px 24px;
      border-radius: 13px;
    }
  }
}
.review__label-phone {
  position: relative;
}
.input--phone {
  padding-right: 18px;
  padding-left: 105px;
  width: 269px;
  @media screen and (min-width: 768px) {
    width: 437px;
  }
}
.phone__svg-id {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 15px;
  left: 15px;
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 100%;
    left: 82px;
    background-color: $color-gray;
  }
  @media screen and (min-width: 768px) {
    top: 22px;
  }
}
.header__image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.input--textarea {
  resize: none;
}
.subscribe {
  position: relative;
  border: 0;
  @media screen and (min-width: 768px) {
    position: static;
    display: flex;
    gap: 28px;
  }
}
.subscribe__email {
  border-radius: 25px;
  @media screen and (min-width: 768px) {
    width: 313px;
  }
}
