.sensation {
  padding: 72px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    text-align: center;
    width: 283px;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: $black;
    @media screen and (min-width: 768px) {
      width: 350px;
    }
    @media screen and (min-width: 1200px) {
      width: 350px;
    }
  }
  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: $black;
    padding-top: 28px;
    @media screen and (min-width: 768px) {
      width: 486px;
    }
    @media screen and (min-width: 1200px) {
    }
  }
}

.taste {
  color: $accent;
}

.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    @media screen and (min-width: 768px) {
      gap: 32px;
    }
    @media screen and (min-width: 1200px) {
      gap: 19px;
    }
  }
  &__container {
    width: 335px;
    height: 270px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    @media screen and (min-width: 768px) {
      width: 336px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 28px;
    cursor: pointer;
  }
  &__img {
    @media screen and (min-width: 1200px) {
      width: 206px;
      height: 160px;
    }
  }
  &__item--info {
    background-color: $white;
    color: $black;
    @media screen and (min-width: 1200px) {
      padding: 20px;
    }
  }
  &__item--white {
    background-color: $white;
    color: $black;
    border: 1px solid $accent;
  }
  &__item--black {
    background-color: $bg-black;
    color: $white;
  }
  &__item--accent {
    background-color: $accent;
    color: $white;
  }
  &__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-top: 25px;
    @media screen and (min-width: 1200px) {
      margin-top: 32px;
    }
  }
}

.card__container:hover .info__card {
  transform: translateY(-100%);
}

// ventana info

.info {
  &__card {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    transition: transform 250ms ease;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
  }
  &__btns {
    display: flex;
    gap: 6px;
    margin-top: 8px;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
}
