.hero__background {
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 370px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title__dimention {
  width: 320px;
  color: #ffffff;
}

.text__dimention {
  width: 560px;
  color: #ffffff;
  margin: 35px;
}

.btn__dimention {
  margin-top: -5px;
}
