@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

$accent: #fd9222;
$bg-main: #fafafa;
$bg-accent: #fcf1e0;
$black: #111;
$black-o10: #1111111a;
$white: #fff;
$white-o50: #ffffff80;

$main-font-family: 'Montserrat';
